.container{
    border: 2px solid rgb(231, 39, 13);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

#flexbox{
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(17, 204, 188);
    padding: 10px 10px 10px 10px;
}

#flexbox button{
    border-radius: 4px;
}

.color-1{
    background-color: rgb(71, 68, 245);
    color: aliceblue;
}

.color-2{
    background-color: rgb(60, 231, 60);
    color: aliceblue;
}

.color-3{
    background-color: red;
    color: white;
}

.color-4{
    background-color: black;
    color: white;
}

#flexbox select{
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}